/* WRAPPER */
.create-update-photo-entry-modal-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: var(--padding-default);
}

@media screen and (min-width: 550px) {
  .create-update-photo-entry-modal-wrapper {
    border: 2px solid var(--bg-color--ternary);
    width: 500px;    
    padding: 2rem 0;
  }
}