/* CONTAINER */
.home-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--header-height) - 1rem);
  flex-direction: column;
}
/* HEADER */
.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
/* TITLE */
.home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.home-title h1 {
  font-size: 2.3rem;
  line-height: 2.5rem;
  margin: 0;
}
/* SUBTILE */
.home-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.home-subtitle span {
  margin: 0; 
  font-size: 1.5rem;
}
/* PHOTO */
.home-photo {
  display: flex;
  height: calc(300px + var(--carousel-tracker-height));
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  background-color: var(--bg-color--secondary-transparent-low);
}
/* PHOTO PLACEHOLDER */
.photo-placeholder {
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color--secondary-transparent-low);
} 
.photo-placeholder span {
  font-size: 1.4rem;
}
/* BUTTON CONTAINER */
.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.home-button span {
  font-weight: bold;
  text-transform: uppercase;
    font-size: 1.1rem;
}

/* MOBILE: very small */
@media (max-width: 250px) and (orientation: portrait) {
  /* CONTAINER */
  .home-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: calc(100vh - var(--header-height) - 1rem);
    flex-direction: column;
  }
  
  /* TITLE */
  .home-title h1 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 0;
  }
  /* SUBTILE */
  .home-subtitle span {
    margin: 0; 
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
  /* PHOTO */
  .home-button {
    width: 100%;
  }
  .home-button span {
    font-size: 0.85rem;
  }
}

/* MOBILE: LANDSCAPE */
@media only screen and (max-width: 767px) and (orientation: landscape) {
  /* CONTAINER */
  .home-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}

/* TABLET: PORTRAIT */
@media (min-width: 768px) {
  /* CONTAINER */
  .home-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
.home-container {
  justify-content: center;
}
  /* HEADER */
  .home-header {
    /* margin: auto 0; */
  }
  /* TITLE */
  .home-title h1 {
    font-size: 2.75rem;
    margin: 0;
  }
  /* SUBTILE */
  .home-subtitle span {
    margin: 0; 
    font-size: 1.75rem;
  }
  /* PHOTO */
  .home-photo {
    height: calc(365px + var(--carousel-tracker-height));
    width: 600px;
    margin: 2.5rem 0;
  }

  /* BUTTON CONTAINER */
  .home-button span {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
} 

/* DESKTOP */
@media screen and (min-width: 1024px) {
  /* PHOTO */
  .home-photo {
    height: calc(422px + var(--carousel-tracker-height));
    width: 750px;
  }
}