.photo-slider-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: calc(100% - var(--tracker-bar-height));
  z-index: 1;
}
.photo-slider-navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgba(244, 244, 244, 0.05);
  z-index: 1;
}
.photo-slider-navigation-button:hover {
  background-color: rgba(244, 244, 244, 0.2);
}
.photo-slider-navigation-button--left {
  left: 0.5rem;
}
.photo-slider-navigation-button--right {
  right: 0.5rem;
}
.photo-slider-tracker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}
.photo-slider-tracker-elem {
  margin: 0.5rem;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(89, 89, 89);
  cursor: pointer;
}
.photo-slider-tracker-elem--active {
  background-color: black;
}