.photo-entries-container,
.photo-entry-container 
.photo-entry-title,
.photo-entry-title p,
.photo-entry-control-panel--1,
.photo-entry-control-panel--2 {
  display: flex;
  width: 100%;
}
/* PHOTO ENTRIES */
/* container */
.photo-entries-container {
  flex-direction: column;
}
/* PHOTO ENTRY */
/* container */
.photo-entry-container {
  height: auto;
  flex-direction: column;
  border-top: 2px solid var(--bg-color--secondary);
  /* margin-bottom: 1.5rem; */
}
/* title */
.photo-entry-title {
  height: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: var(--padding-default);
}
.photo-entry-title p {
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  margin: 0;
}
/* photo */
.photo-entry-photo {
  display: flex;
  height: 450px;
  position: relative;
  width: 100%;
}
/* additional info: like/collection count */
.photo-entry-info-panel { 
  display: flex;
  height: 30px;
  align-items: center;
  width: 100%;
  font-size: 0.70rem;
  line-height: 1rem;
}
.photo-entry-info-panel--like,
.photo-entry-info-panel--collection,
.photo-entry-info-panel--capture-date {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: var(--padding-default);
}
.photo-entry-info-panel--collection {
  justify-content: center;
}
/* capture date */
.photo-entry-info-panel--capture-date {
  justify-content: flex-end;
}