.pes-collection-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.pes-gallery-container,
.pes-empty-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.pes-empty-container {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.pes-empty-container h3 {
  width: 100%;
}
.pes-container--centered {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  flex-grow: 1;
}

/* PHONE - SMALL */
@media (max-width: 199px) {
  .pes-collection-container {
    display: flex;
    flex-direction: column;
  }
}
/* PHONE - TABLET */
@media (min-width: 480px) {
  .pes-gallery-container {
    justify-content: center;
    align-items: center;
  }
}

/* MEDIA QUERIES */
@media (min-width: 400px) {
  .pes-collection-container {
    grid-template-columns: minmax(300px, 450px);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 650px) {
  .pes-collection-container {
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
  }
}
/* TABLET */
@media (min-width: 768px) {
  .pes-collection-container {
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 300px);
  }
} 

@media (min-width: 1024px) {
  .pes-collection-container {
    grid-template-columns: repeat(3, 300px);
    width: 1000px;
  }
} 

@media (min-width: 1366px) {
  .pes-collection-container {
    grid-template-columns: repeat(4, 300px);
    width: 1300px;
  }
} 