.pes-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%; 
  gap: 2rem;
}
.pe-layout-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  width: 100%;
  background-color: var(--bg-color--secondary);
  padding: 0.5rem;
  gap: var(--padding-default);
}
.pe-layout-content {
  display: flex;
  width: 100%;
  height: 50px;
  gap: var(--padding-default);
  overflow-x: hidden;
}
.pe-layout-content-label { 
  display: flex;
  width: 100px;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  word-break: break-all;
  background-color: var(--bg-color--main);
  padding: var(--padding-default);
  overflow-x: auto;
}
.pe-layout-content-label span {
  font-size: var(--text-size--S);
  line-height: calc(var(--text-size--S) * 1.1);
}
.pe-layout-content-data {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: var(--padding-default);
  background-color: var(--bg-color--main);
  overflow-x: auto;
  white-space: nowrap; 
}
.pe-layout-content-data span {
  text-align: left;
  font-size: var(--text-size--S);
  line-height: calc(var(--text-size--S) * 1.4);
}
#uem {
  height: auto;
  min-height: 50px;
}
#description {
  height: auto;
  min-height: 50px;
  width: 100%;
}
#description > .pe-layout-content-label {
  height: 100%;
  min-height: 50px;
  max-width: 100px;
}
#description > .pe-layout-content-data {
  white-space: normal; 
}
#description > .pe-layout-content-data span {
  font-size: var(--text-size--S);
  line-height: calc(var(--text-size--S) * 1.4);
  text-align: justify;
}
.pe-layout-content-uem {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
.pe-layout-content-uem-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
  margin-bottom: var(--margin-default);
}
.pe-layout-content-uem-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.pe-layout-content-uem-label {
  display: flex;
  margin-right: 0.5rem;
}
.pe-layout-content-uem-amount {
  color: var(--bg-color--accent);
}

/* MEDIA QUERIES */
/* PHONE: small screen */
@media (max-width: 350px) {
  .pe-layout-container {
    grid-template-rows: auto 1fr;
  }
  .pe-layout-content {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .pe-layout-content-label {
    align-items: flex-start;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  .pe-layout-content-label span {
    color: var(--bg-color--accent);
  }
  #description > .pe-layout-content-label {
    height: 50px;
    width: 100%;
    max-width: none;
  }
  #description > .pe-layout-content-label span {
    writing-mode: initial;
  }
  .pe-layout-content-data {
    width: 100%;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
  }
  .pe-layout-content-uem-label {
    margin-right: 0;
  }
  .pe-layout-content-uem-data {
    flex-direction: column;
  }
}

/* MEDIA QUERIES */
/* PHONE: small screen */
@media (max-width: 99px) {
  .pe-layout-content-label {
    padding: 0;
  }
  .pe-layout-content-data {
    padding: 0;
  }
}

/* PHONE - TABLET */
@media (min-width: 480px) {
  .pes-layout-container {
    width: var(--pe-container-width--M); 
  }
}