/* PHOTO ENTRIES */ 
/* container */
.photo-entries-container {
  display: flex;
  flex-direction: column;
  width: 100%; 
}
/* PHOTO ENTRY */
/* container */
._photo-entry-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bg-color--secondary);
  width: 100%;
}
/* container - admin */
._photo-entry-container--admin {
  margin-bottom: var(--margin-default);
}
._photo-entry-container--admin:last-child {
  margin-bottom: 0rem;
}
/* container - photo info modal */
/* ._photo-entry--information {
  height: 650px; 
  justify-content: center;
  align-items: center;
} */
/* container - user  */
/* ._photo-entry--user {} */

/* content: list of table records */
._photo-entry-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
/* content row: table record (label + data)  */
._photo-entry-content-row { 
  display: flex;
  /* align-items: center; */
  align-items: stretch; /* added */
  justify-content: center;
  height: 50px;
}
.photo-entry-content-row > p {
  margin: 0;
}
/* label */
._photo-entry-content-label { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  font-size: 0.8rem;
  line-height: 0.8rem;
  word-break: break-word;
  padding: var(--padding-default);
  background-color: var(--bg-color--main);
  flex-grow: 1;
}
/* data */
._photo-entry-content-data {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  width: 100%;
  padding: var(--padding-default);
  text-align: justify;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid var(--bg-color--secondary);
  border-left: 1px solid var(--bg-color--secondary);
  background-color: var(--bg-color--main);
 }
 /* MODIFIERS */
 /* record */
._photo-entry-content-record--description {
  height: auto;
}
.photo-entry-content-label--fill-remaining-height {
  flex-grow: 1;
}
/* label */
.photo-entry-content-label--vertical-text {
  writing-mode: vertical-rl;
}
/* data */
 ._photo-entry-content-data--description {
  align-items: initial;
  word-break: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}
/* misc */
.photo-entry--border-bottom-0 {
  border-bottom: 0;
}
.photo-entry-content--border-top {
  border-top: 1px solid var(--bg-color--secondary);
}
.photo-entry-content--border-right {
  border-right: 1px solid var(--bg-color--secondary);
}
.photo-entry-content--border-left {
  border-left: 1px solid var(--bg-color--secondary);
}
.photo-entry-content--border-bottom {
  border-bottom: 1px solid var(--bg-color--secondary);
}
.photo-entry-content--height-150px {
  min-height: 120px;
}