.about-project-introduction,
.about-used-technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-color--secondary);
  margin-bottom: 2rem;
  padding: var(--padding-default);
}
.about-project-introduction {
  margin-top: 2rem;
}
.about-attribution-text {
  width: 100%;
}
.about-attribution-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 100%;
  justify-content: center;
  gap: var(--padding-default);
  padding-top: var(--padding-default);
}
.about-attribution-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color--main);
  width: 100%;
  height: 100px;
  transition: all .2s ease-in;
}
.about-attribution-card:hover {
  transform: scale(1.03);
}
.about-project-introduction h2,
.about-used-technologies h2 {
  font-size: var(--header-2-size--S);
  color: var(--text-color--high-emphasis);
  word-break: break-all;
}
.about-project-introduction article, 
.about-attribution-text article {
  font-size: var(--text-size--M);
  background-color: var(--bg-color--main);
  padding: 1rem;
  margin: 0;
  line-height: 1.7rem;
  text-align: justify;
  word-wrap: break-word;
  width: 100%;
}
.about-highlighted-text {
  color: var(--color-accent--light);
}

/* MEDIA QUERIES */
@media screen and (max-width: 300px) {
  .about-attribution-cards {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .about-attribution-card:hover {
    transform: scale(1.05);
  }
  .about-project-introduction h2,
  .about-used-technologies h2 {
    min-height: auto;
  }
}

/* PHONE: SMALL */
@media screen and (max-width: 250px) {
  .about-attribution-cards {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

/* PHONE - TABLET */
@media screen and (min-width: 550px) {
  .about-project-introduction,
  .about-used-technologies {
    width: var(--container-width--500px);
  }
  .about-attribution-cards {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
  .about-project-introduction article,
  .about-attribution-text article {
    padding: 1.5rem;
  }
  .about-indent-text {
    text-indent: 1rem;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .about-project-introduction article,
  .about-attribution-text article {
    font-size: var(--text-size--L);
  }
}