/* Project introduction */
/* Project attribution & used technologies */
/* containers */
.about-project-introduction,
.about-used-technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-color--secondary);
  margin-bottom: 2rem;
  padding: var(--padding-default);
}
.about-project-introduction {
  margin-top: 2rem;
}
/* attribution text wrapper */
.about-attribution-text {
  width: 100%;
}
/* stat cards wrapper */
/* attribution icon cards wrapper */
.about-attribution-cards {
  display: flex;
  align-items: center;
  /* justify-content: flex-start;
  width: 100%; */
  justify-content: center;
  width: calc(100% + var(--margin-default));
  flex-wrap: wrap;
  padding-top: var(--padding-default);
  gap: var(--margin-default);
}
/* attribution icon card */
.about-attribution-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color--main);
  flex: 33.33%;
  max-width: calc(33.33% - var(--margin-default));
  height: 100px;
  transition: all .2s ease-in;
}
.about-attribution-card:last-child {
  max-width: calc(33.33% - 0.5rem);
}
.about-attribution-card:hover {
  transform: scale(1.03);
}

/* Headers */
.about-project-introduction h2,
.about-used-technologies h2 {
  font-size: var(--header-2-size--S);
  color: var(--text-color--high-emphasis);
  word-break: break-all;
}

/* Text */
/* text wrapper */
.about-project-introduction article, 
.about-attribution-text article {
  font-size: var(--text-size--M);
  background-color: var(--bg-color--main);
  padding: 1rem;
  margin: 0;
  line-height: 1.7rem;
  text-align: justify;
  word-wrap: break-word;
  width: 100%;
}
/* highlighted text */
.about-highlighted-text {
  color: var(--color-accent--light);
}

/* _____MEDIA_____ */
/* PHONE: SMALL */
@media screen and (max-width: 350px) {
  /* Project attribution & used technologies */
  /* attribution icon card */
  .about-attribution-card {
    flex: 50%;
    max-width: calc(50% - var(--margin-default));
  }
  .about-attribution-card:last-child {
    max-width: calc(50% - 0.5rem);
  }
  .about-attribution-card:hover {
    transform: scale(1.05);
  }


  /* Headers */
  .about-project-introduction h2,
  .about-used-technologies h2 {
    min-height: auto;
  }
}

/* PHONE - TABLET */
@media screen and (min-width: 550px) {
  /* Project introduction */
  /* Project attribution & used technologies */
  /* containers */
  .about-project-introduction,
  .about-used-technologies {
    width: var(--container-width--500px);
  }
  /* attribution icon card */ 
  .about-attribution-card {
    flex: 25%; 
    max-width: calc(25% - var(--margin-default));
  }
  .about-attribution-card:last-child {
    max-width: calc(25% - var(--margin-default));
  }
  /* Text */
  /* text wrapper */
  .about-project-introduction article,
  .about-attribution-text article {
    padding: 1.5rem;
  }
  /* text indentation for article paragraphs */
  .about-indent-text {
    text-indent: 1rem;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
 
  /* Text */
  /* text wrapper */
  .about-project-introduction article,
  .about-attribution-text article {
    font-size: var(--text-size--L);
  }
}