/* ______CONTROL PANEL______ */
/* container */
.control-panel-photo-entry {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.control-panel-photo-entry-group-1,
.control-panel-photo-entry-group-2 {
  display: flex;
  width: 100%;
  align-items: center;
}
/* groups */
.control-panel-photo-entry-group-1,
.control-panel-photo-entry-group-2 {
  display: flex;
  width: 100%;
  align-items: center;
}
.control-panel-photo-entry-group-1 {
  justify-content: flex-start;
}
.control-panel-photo-entry-group-2 {
  justify-content: flex-end;
}
/* ______MODIFIERS______ */
/* ELEMENTS */
.control-panel-padding-default-left {
  padding-left: var(--padding-default);
}
.control-panel-padding-default-right {
  padding-right: var(--padding-default);
}