.popup-container {
  display: flex;
  align-items: center;
  width: 250px;
  height: 300px;
  flex-direction: column;
  overflow-y: scroll;
}
.popup-image {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.popup-container h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.popup-info {
  display: flex;
  justify-content: center;
  width: 250px;
  flex-direction: column;
  list-style-type: none;
  border-radius: 0 0 12px 12px;
  background-color: rgb(107, 183, 187);
  margin-top: 0;
  padding: 0.5rem;
}
.popup-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  word-break: break-all;
  justify-content: justify;
  border-radius: 0 0 12px 12px;
  background-color: rgb(107, 183, 187);
  margin-top: 0;
  padding: 0.5rem;

}
.popup-info-title {
  margin: 0.5rem;
  font-weight: bold;
}
.popup-info-date {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}