/* STATISTICS */
/* conatainer */
.statistics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: var(--margin-default) 0; 
  width: 100%;
  background-color: var(--bg-color--secondary);
}
/* title */
.statistics-container h2 {
  color: var(--text-color--high-emphasis);
  margin: 1rem 0;
}
/* stat card */
.statistics-card {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/* stat card content */
.statistics-elem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color--main);
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid var(--bg-color--main);
}
.statistics-elem:first-child {
  margin-left: 0.5rem;
}
.statistics-elem:hover {
  background-color: var(--bg-color--main-transparent-medium);
}
.statistics-elem:hover .statistics-icon {
  transform: scale(1.1);
}
/* svg icon */
.statistics-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 1rem 0;
}
.statistics-icon { 
  width: 90%;
  transition: all .2s ease-in-out;
}
.statistics-icon:hover { 
  transform: scale(1.1);
}
/* labels: card title && counter */
.statistics-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
}
.statistics-label span:first-child {
  font-size: 1.5rem;
  line-height: 1.5rem;  
  color: var(--bg-color--accent);
}
.statistics-label span:last-child {
  font-size: 1rem;
  line-height: 2rem;
  color: var(--text-color--high-emphasis);
}