.shared-page-container,
.shared-modal-container,
.shared-image-cards-container {
  display: flex;
}
.shared-page-container {
  position: absolute;
  top: var(--header-height);
  flex-direction: column;
  min-height: calc(100% - var(--header-height));
  width: 100%;
  background-color: rgb(124, 125, 124);
}
.shared-page-container--centered {
  justify-content: center;
  align-items: center;
}
.shared-page-container--with-padding {
  padding: var(--padding-default);
}
/* modals */
.shared-modal {
  display: flex;
  flex-direction: column;
  position: fixed; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(80, 80, 80);
  overflow-y: scroll;
  z-index: var(--z5);
}
/* modal header */
.shared-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* height: 50px; */
  min-height: 50px;
  background-color: rgb(135, 140, 140);
}
.shared-modal-dummy,
.shared-modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.shared-modal-title {
  width: auto;
}
.shared-modal-title b {
  margin: 0;
  font-size: 1.5rem;
}
.shared-modal-dummy {
  width: 50px;
}
/* modal content */
.shared-modal-content {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
/* home && gallery image cards container */
.shared-image-cards-container {
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.shared-image-cards-container {
  height: auto;
}
/* ______BUTTON WRAPPER______ */
/* wrapper */
.shared-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
}
.shared-button-wrapper--modal-close {
  justify-content: center;
  height: 100%;
  width: 50px;
}
/* ______MODIFIERS______ */
/* TODO: place it to shared.css */
/* WRAPPER */
.shared-button-wrapper--create-update-photo-entry {
/* ... */
}
/* COMPONENTS */
/* auth specific style */
.shared-button-wrapper--authentication {
  justify-content: center;
  margin-top: 1.5rem;
}
/* ELEMENTS */
/* centering button (only if single button is present) for auth containers */
.shared-button-wrapper--centered {
  flex-direction: column;
}