.auth-modal {
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid var(--bg-color--ternary);
  background-color: var(--bg-color--secondary);
  z-index: 1;
  /* modal is centered on the screen. Necessary  while  header position:fixed is applied */
}
.auth-modal-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  z-index: -1; /* put the background behind the modal*/
}
.auth-modal-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(100, 0, 0, 1);
  z-index: 10;
  /* position: fixed; */
}
/* reset password for login modal */
.auth-modal-reset-password {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height: 25px;
  cursor: pointer;
  padding: 0 var(--padding-default);
}
.auth-modal-navigate {
  /* background-color: rgb(102, 102, 105); */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
.auth-modal-navigate--active {
  background-color: var(--bg-color--ternary);
}