
/* Google Fonts: https://fonts.google.com/specimen/Roboto */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

  :root {
  font-family: 'Roboto', sans-serif;
  /* font-size: 16px; */
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
 
  /* shared variables */
  --header-height: 70px;
  --margin-default: 0.5rem;
  --padding-default: 0.5rem;
  
  /* misc: */
  --tracker-bar-height: 50px;
  /* z-index groups */
  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 5;
  --z5: 6;
  /* colors */
  /* border colors */
  --border-color-1: rgb(73, 72, 72); 
}

:root.light {
  --bg-color--main: #ced4da;
  --bg-color--main-transparent-high: rgba(206, 212, 218, 0.25);  /*25%*/
  --bg-color--main-transparent-medium: rgba(206, 212, 218, 0.50);  /*50%*/
  --bg-color--main-transparent-low: rgba(206, 212, 218, 0.75);  /*75%*/
  --bg-color--secondary: #adb5bd;
  --bg-color--ternary: #6c757d;
  --bg-color--accent: #bc4749;
  --bg-color--accent-transparent-high: rgba(188, 71, 73, 0.25);
  --bg-color--accent-transparent-medium: rgba(188, 71, 73, 0.50);
  --bg-color--accent-transparent-low: rgba(188, 71, 73, 0.75);
  /* calendar icon - only works with filter, currently uses --bg-color--ternary's color */
  --color-picker--calendar-icon: invertrgba(188, 71, 73, 0.6)ia(24%) saturate(180%) hue-rotate(167deg) brightness(91%) contrast(83%);
  /* FONT COLOR */
  /* default */
  color: rgba(0, 0, 0, 0.86);
  /* predefined */
  --text-color--high-emphasis: rgba(0, 0, 0, 0.86);
  --text-color--medium-emphasis: rgba(0, 0, 0, 0.60);
  --text-color--low-emphasis: rgba(0, 0, 0, 0.38);
  /* SKELETON */
  --skeleton-container:#9fabb8;
  --skeleton-content:#ced4da;
  --skeleton-shimmer:#adb5bd5e;
  --skeleton-shimmer--box-shadow:#adb5bd38;

  /* TOASTIFY CUSTOM STYLE */
  --toastify-color-light: #bc4749;
  --toastify-text-color-light: rgba(0, 0, 0, 0.86);
  /* DISABLED */
  --color--disabled: #
}
:root.dark {
  --bg-color--main: #212529;
  --bg-color--main-transparent-high: rgb(33, 37, 41, 25%);  /*25%*/
  --bg-color--main-transparent-medium: rgb(33, 37, 41, 50%);  /*50%*/
  --bg-color--main-transparent-low: rgb(33, 37, 41, 75%);  /*75%*/
  --bg-color--secondary: #343a40;
  --bg-color--ternary: #495057;
  --bg-color--accent: #bc4749;
  --bg-color--accent-transparent-high: rgba(188, 71, 73, 0.25);
  --bg-color--accent-transparent-medium: rgba(188, 71, 73, 0.50);
  --bg-color--accent-transparent-low: rgba(188, 71, 73, 0.75);
  /* calendar icon - only works with filter, currently uses --bg-color--ternary's color */
  --color-picker--calendar-icon: invert(30%) sepia(10%) saturate(492%) hue-rotate(169deg) brightness(93%) contrast(88%);
  /* FONT COLOR */
  /* default */
  color: rgba(255, 255, 255, 0.86);
  /* predefined */
  --text-color--high-emphasis: rgba(255, 255, 255, 0.86);
  --text-color--medium-emphasis: rgba(255, 255, 255, 0.60);
  --text-color--low-emphasis: rgba(255, 255, 255, 0.38);
  /* SKELETON */
  --skeleton-container:#343a40;
  --skeleton-content:#50575c;
  --skeleton-shimmer:#343a4075;
  --skeleton-shimmer--box-shadow:#343a404a;
  /* TOASTIFY CUSTOM STYLE */
  --toastify-color-dark: #bc4749;
  --toastify-text-color-dark: rgba(255, 255, 255, 0.86);
}
body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  width: 100%;
  /* min-width: 320px; */
  min-height: 100vh;
  overflow-y: scroll;
}
*, *:before, *:after {
  box-sizing: border-box;
}