
/* Google Fonts: https://fonts.google.com/specimen/Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  /* font-size: 16px; */
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
 
  /* SHARED VARIABLES */
  --header-height: 60px;
  --modal-header-height: 50px;
  --margin-default: 0.5rem;
  --padding-default: 0.5rem;
  --carousel-tracker-height: 30px;
  /* misc: */
  --tracker-bar-height: 50px;
  --input-height: 45px;
  --input-height--authentication: 50px;
  --input-width: 80%;
  
  /* layout container width */
  --pe-container-width--M: 470px;
  --pe-container-width--L: 750px;
  /* container width */
  --container-width--500px: 500px; 

  /* ICONS */
  /* input field icon height-width values */
  --input-icon-dimension: 20px;
  
  /* z-index groups */
  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 5;
  --z5: 6;
  
  /* MARGINS */
  --margin-gap: 2px;

  /* FONTS  */
  /* Color */
  --text-color-light--high-emphasis: rgba(255, 255, 255, 0.86);
  --text-color-dark--high-emphasis: rgba(0, 0, 0, 0.86);
  /* border colors */
  --border-color-1: rgb(73, 72, 72); 
  /* Size */
  --text-size--XS: .75rem; 
  --text-size--S: .85rem; 
  --text-size--M: 1rem; 
  --text-size--L: 1.125rem; 
  /* h1 */
  --header-1-size--XS: 1.7rem; 
  --header-1-size--S: 1.9rem; 
  --header-1-size--M: 2.4rem; 
  --header-1-size--L: 2.7rem; 
  /* h2 */
  --header-2-size--XS: 1.25rem; 
  --header-2-size--S: 1.4rem; 
  --header-2-size--M: 1.9rem; 
  --header-2-size--L: 2.2rem; 
  /* h3 */
  --header-3-size--XS: .9rem; 
  --header-3-size--S: 1.1rem; 
  --header-3-size--M: 1.3rem; 
  --header-3-size--L: 1.5rem; 
  /* text: span - p */
  --text-size--S: 1rem; 
  --text-size--M: 1.1rem; 
  --text-size--L: 1.2rem; 

  /* SHARED THEME COLORS:  */
  /* TODO:
  remove shared accent color from light/dark store it as shared color
  */
  --color-accent--light: hsla(359, 55%, 55%, 1);
  --color-accent: hsl(359, 55%, 38%);
  --color-accent--transparent-high: hsla(359, 55%, 38%, 0.25);

  --color-accent--disabled: hsla(359, 55%, 38%, 0.5);
  --color-accent--medium: hsla(359, 55%, 33%, 1);
  --color-accent--medium-transparent-medium: hsla(359, 55%, 33%, 0.5);
  --color-accent--dark: hsla(359, 55%, 28%, 1);
  /* TODO: txt colors fit to accent color  */
  /* --txt-test: hsla(359, 75%, 90%, 1); */
  --txt-test: hsla(359, 5%, 90%, 1);
  /* --txt-test: hsla(359, 75%, 20%, 1); */
  /* --txt-test: hsla(359, 75%, 90%, 1); */
  --test--a: #4e4e4e;
}


:root.light {
  --bg-color--main: #ced4da;
  --bg-color--main-alpha-10: rgba(206, 212, 218, 0.10);
  --bg-color--main-transparent-high: rgba(206, 212, 218, 0.25);  /*25%*/
  --bg-color--main-transparent-medium: rgba(206, 212, 218, 0.50);  /*50%*/
  --bg-color--main-transparent-low: rgba(206, 212, 218, 0.75);  /*75%*/
  --bg-color--main-alpha-90: rgba(206, 212, 218, 0.9);  /*25%*/
  
  --bg-color--secondary: #adb5bd;
  --bg-color--secondary-transparent-high: rgba(173, 181, 189, 0.25);  /*25%*/
  --bg-color--secondary-transparent-medium: rgba(173, 181, 189, 0.50);  /*50%*/
  --bg-color--secondary-transparent-low: rgba(173, 181, 189, 0.75);  /*75%*/

  --bg-color--ternary: #6c757d;
  --bg-color--ternary-transparent-very-high: rgba(108, 117, 125, 0.1);  /*10%*/
  --bg-color--ternary-transparent-high: rgba(108, 117, 125, 0.25);  /*25%*/
  --bg-color--ternary-transparent-medium: rgba(108, 117, 125, 0.50);  /*50%*/
  --bg-color--ternary-transparent-low: rgba(108, 117, 125, 0.75);  /*75%*/
 
  --bg-color--accent: #bc4749;
  --bg-color--accent-transparent-high: rgba(188, 71, 73, 0.25);
  --bg-color--accent-transparent-medium: rgba(188, 71, 73, 0.50);
  --bg-color--accent-transparent-low: rgba(188, 71, 73, 0.75);
  /* calendar icon - only works with filter, currently uses --bg-color--ternary's color */
  --color-picker--calendar-icon: invertrgba(188, 71, 73, 0.6)ia(24%) saturate(180%) hue-rotate(167deg) brightness(91%) contrast(83%);
  /* FONT COLOR */
  /* default */
  color: rgba(0, 0, 0, 0.86);
  /* predefined */
  --text-color--high-emphasis: rgba(0, 0, 0, 0.86);
  --text-color--medium-emphasis: rgba(0, 0, 0, 0.60);
  --text-color--low-emphasis: rgba(0, 0, 0, 0.38);
  --text-color--validation-message: rgb(127, 0, 0);
  
  /* SKELETON */
  --skeleton-container:#9fabb8;
  --skeleton-content:#ced4da;
  --skeleton-shimmer:#adb5bd5e;
  --skeleton-shimmer--box-shadow:#adb5bd38;

  /* TOASTIFY CUSTOM STYLE */
  --toastify-color-light: #bc4749;
  --toastify-text-color-light: rgba(0, 0, 0, 0.86);
  /* DISABLED */
  --color--disabled: 
}

:root.dark {
  --bg-color--main: #212529;
  --bg-color--main-alpha-10: rgba(33, 37, 41, 0.19); 
  --bg-color--main-transparent-high: rgb(33, 37, 41, 25%);  /*25%*/
  --bg-color--main-transparent-medium: rgb(33, 37, 41, 50%);  /*50%*/
  --bg-color--main-transparent-low: rgb(33, 37, 41, 75%);  /*75%*/
  --bg-color--main-alpha-90: rgba(33, 37, 41, 0.9); 
  --bg-color--secondary: #343a40;
  --bg-color--secondary-transparent-high: rgb(52, 58, 64, 25%);  /*25%*/
  --bg-color--secondary-transparent-medium: rgb(52, 58, 64, 50%);  /*50%*/
  --bg-color--secondary-transparent-low: rgb(52, 58, 64, 75%);  /*75%*/
  --bg-color--ternary: #495057;
  --bg-color--ternary-transparent-high: rgb(73, 80, 87, 25%);  /*25%*/
  --bg-color--ternary-transparent-medium: rgb(73, 80, 87, 50%);  /*50%*/
  --bg-color--ternary-transparent-low: rgb(73, 80, 87, 75%);  /*75%*/
  --bg-color--accent: #bc4749;
  --bg-color--accent-transparent-high: rgba(188, 71, 73, 0.25);
  --bg-color--accent-transparent-medium: rgba(188, 71, 73, 0.50);
  --bg-color--accent-transparent-low: rgba(188, 71, 73, 0.75);
  /* calendar icon - only works with filter, currently uses --bg-color--ternary's color */
  --color-picker--calendar-icon: invert(30%) sepia(10%) saturate(492%) hue-rotate(169deg) brightness(93%) contrast(88%);
  /* FONT COLOR */
  /* default */
  color: rgba(255, 255, 255, 0.86);
  /* predefined */
  --text-color--high-emphasis: rgba(255, 255, 255, 0.86);
  --text-color--medium-emphasis: rgba(255, 255, 255, 0.60);
  --text-color--low-emphasis: rgba(255, 255, 255, 0.38);
  --text-color--validation-message: rgb(255, 158, 158);
  

  /* SKELETON */
  --skeleton-container:#343a40;
  --skeleton-content:#50575c;
  --skeleton-shimmer:#343a4075;
  --skeleton-shimmer--box-shadow:#343a404a;
  /* TOASTIFY CUSTOM STYLE */
  --toastify-color-dark: #bc4749;
  --toastify-text-color-dark: rgba(255, 255, 255, 0.86);
}
body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  width: 100%;
  /* min-width: 320px; */
  min-height: 100vh;
  overflow-y: scroll;
}
*, *:before, *:after {
  box-sizing: border-box;
}