/* MAP CONTAINER */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  flex-direction: column;
  z-index: var(--z1);
  background: var(--bg-color--main);
}
/* LAYER BUTTON AND CONTENT */
/* layers container: overwrite background */
.leaflet-control-layers {
  background-color: var(--bg-color--main);
  border: 0;
  border-radius: 4px;
}
/* layer toggle: overwrite default icon */
.leaflet-top.leaflet-right .leaflet-control-layers .leaflet-control-layers-toggle {
  background-image: url('../../assets/layers.svg');
  background-repeat: no-repeat;
  background-size: 50%;
}
/* set custom margin around control buttons */
.leaflet-right .leaflet-control,
.leaflet-left .leaflet-control {
  margin: var(--margin-default);
}
/* opened(toggled) layers content label */
.leaflet-control-layers label {
  text-align: left;
  font-size: 14px;
  color: var(--text-color--high-emphasis);
}
/* control panel: zoom in - out  */
.leaflet-bar a {
  background-color: var(--bg-color--main);
  color: var(--bg-color--accent);
  border-bottom: var(--bg-color-main);
}
.leaflet-bar a:hover, .leaflet-bar a:focus {
  background-color: var(--bg-color--secondary);
}
/* disabled button: max-min zoom lvl reached */
.leaflet-bar a.leaflet-disabled {
  opacity: 0.7;
  background-color: var(--bg-color--secondary);
}
/* border around control buttons */
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  /* border: 1px solid var(--bg-color--secondary); */
}
/* attribution: remove margin */
.leaflet-container .leaflet-control-attribution {
  margin: 0;
  background-color: var(--bg-color--secondary);
  color: var(--text-color--high-emphasis);
}
/* invert basemap style to dark */
.custom-layer {
  filter: invert(100%) hue-rotate(180deg) brightness(1.25);
}
/* FULLSCREEN BUTTON */
/* fullscreen: open */
.leaflet-control-fullscreen a {
  background-color: var(--bg-color--main);
  background-image: url('../../assets/fullscreen.svg'); 
  background-repeat: no-repeat;
  background-size: 65%;
}
.leaflet-touch .leaflet-control-fullscreen a {
  background-position: 5.5px 5.5px;
}
/* fullscreen: close */
.leaflet-touch.leaflet-fullscreen-on .leaflet-control-fullscreen a {
  background-position: 5.5px -26px;
}
/* CLUSTER */
/* custom cluster icon */
.custom--marker-cluster {
  background-color: var(--bg-color--accent);
  border-radius: 50%;
  color: var(--text-color--high-emphasis);
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.custom--marker-cluster::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: var(--bg-color--accent-transparent-medium);
  border-radius: 50%;
  opacity: 1;
  z-index: -1;
}