/* basic styles */
.skeleton {
  background-color: #dadada;
  margin: var(--margin-default) 0;
}
/* text */
.text {
  width: 100%;
  height: 30px;
}
/* PHOTO ENTRY */
/* title */
.title {
  width: 100%;
  height: 80px;
  margin-top: 0;
}
/* photo */
.photo {
  width: 100%;
  height: 450px;
  margin-top: 0;
}
/* control panel */
.control-panel {
  width: 100%;
  height: 70px;
  margin: 0;
}
/* SKELETON COMPONENTS */
/* user gallery photo entry */
.skeleton-wrapper {
  margin: var(--margin-default) 0;
}
.skeleton-photo-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  flex-direction: column;
 
  padding: var(--padding-default);
}
.skeleton-photo-entry:last-child {
  margin-bottom: 0;
}

/* THEME */
/* skeleton component background */
/* light / default */
.skeleton-wrapper.light { 
  background-color: #a1a1a1;
}
/* dark / default */
.skeleton-wrapper.dark { 
  background-color: #343434;
 }
/* skeleton element background color for dark theme */
.skeleton-wrapper.dark .skeleton {
  background-color: #747474;
}