/* ______BASIC______ */
.skeleton {
  background-color: #dadada;
  margin: var(--margin-default) 0;
}
/* text */
.text {
  width: 100%;
  height: 30px;
}
/* ______ELEMENT TYPES______ */
.element--30px-30p {
  height: calc(30px - var(--padding-default));
  width: 30%;
  margin-top: 0;
}
.element--45px-60p {
  height: 45px;
  width: 60%;
  margin-top: 0;
}
.element--50px {
  height: calc(50px - var(--padding-default));
  width: 100%;
  margin-top: 0;
}
.element--50px-75 {
  height: calc(50px - var(--padding-default));
  width: 90%;
  margin-top: 0;
}
.element--60px {
  width: 100%;
  height: calc(60px - var(--padding-default));
  margin-top: 0;
}
.element--80px {
  width: 100%;
  height: calc(80px - var(--padding-default));
  margin-top: 0;
}
.element--100px {
  width: 100%;
  height: calc(100px - var(--padding-default));
  margin-top: 0;
}
.element--150px {
  width: 100%;
  height: calc(150px - var(--padding-default));
  margin-top: 0;
}
.element--200px {
  width: 100%;
  height: calc(200px - var(--padding-default));
  margin-top: 0;
}
.element--350px {
  width: 100%;
  height: calc(350px - var(--padding-default) - var(--margin-default));
  margin-top: 0;
}
.element--450px {
  width: 100%;
  height: calc(450px - var(--padding-default));
  margin-top: 0;
}
/* ELEMENT MODIFIERS */
.element-margin-top--0 {
  margin-top: 0;
}
.element-margin-bottom--0 {
  margin-bottom: 0;
}
.element-margin-bottom--1rem {
  margin-bottom: 1rem;
}
.element-margin--0 {
  margin: 0;
}
/* ______SKELETON COMPONENTS______ */
/* WRAPPER */
.skeleton-wrapper {
  margin: var(--margin-default) 0;
  position: relative;
  overflow: hidden;
}
.skeleton-user-photo-entry, 
.skeleton-home,
.skeleton-wrapper-home,
.skeleton-admin-photo-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-default);
  width: 100%;
}
/* GALLERY (user) */
.skeleton-user-photo-entry {
  /* height: 500px; */
  width: 100%;
  flex-direction: column;
}
.skeleton-user-photo-entry:last-child {
  margin-bottom: 0;
}
/* HOME */
.skeleton-home {
  height: 100%;
  flex-direction: column;
}
.skeleton-wrapper-home {
  margin: 0;
  padding: 0;
}
/* ADMIN GALLERY/HOME PHOTO ENTRIES */ 
.skeleton-admin-photo-entry {
  /* height: 500px; */
  flex-direction: column;
}
.skeleton-admin-photo-entry:last-child {
  margin-bottom: 0;
}
/* ______THEME______ */
/* skeleton component background */
/* light / default */
.skeleton-wrapper.light { 
  background-color: #a1a1a1;
}
/* dark / default */
.skeleton-wrapper.dark { 
  background-color: #343434;
 }
/* skeleton element background color for dark theme */
.skeleton-wrapper.dark .skeleton {
  background-color: #747474;
}
/* ______ANIMATION EFFECTS______ */
.shimmer-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  animation: loading 1.5s infinite;
}
.shimmer {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.1);
}
.dark .shimmer {
  background-color: rgba(255, 255, 255, 0.1);
}
/* animation */
@keyframes loading {
  0% { transform: translateX(-150%) }
  100% { transform: translateX(150%) }
}