/* TODO: merge admin - user PE control panel styling */
/* ______DEFAULT VALUES______ */
/* BUTTON */
.button-default {
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  background-color: var(--bg-color--accent);
  font-size: 1.1rem;
}
/* hover */
.button-default:hover {
  /* background-color: var(--bg-color--accent); */
}
/* ______MODIFIERS______ */
/* CREATE - UPDATE PHOTO ENTRY */
.button-photo-new {
  margin: 0 auto 1rem auto;
  width: 100%;
  height: 50px;
}
.button-photo-new:hover {
  background-color: rgba(81, 81, 81, 1);
}
/* CONTROL PANEL */
/* photo entries - admin */
.button-control-panel-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  background-color: Transparent;
  padding: var(--padding-default);
}
.button-control-panel-edit:hover {
  /* background-color: rgb(0, 0, 0, 0); */
}
.button-control-panel-edit:disabled {
  opacity: .3;
}
/* photo entries - user */
.button-control-panel-view {
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: var(--padding-default);
}
.button-control-panel-view:disabled {
  /* background-color: var(--bg-color--secondary); */
  opacity: .3;
}
/* SUBMIT */
/* submit form */
.button-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  border: none;
  /* margin: 0 1rem; */
}
/* .button-form-submit:disabled {
} */
/* submit form button for authentication pages: login/register  */
.button-authentication {
  width: 150px;
  height: 50px;
  /* background-color: var(--bg-color--accent); */
}
/* CLOSE MODAL (X) */
.button-modal-close {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.button-modal-close:hover,
.button-modal-close:active {
  /* background-color: rgb(102, 3, 3); */
}
.button-modal-close:disabled {
  opacity: 0.38;
}
/* UPLOAD FILE */
/* browse file to add to file api  */
.button-upload-file {
  width: 100px;
  height: 50px;
  letter-spacing: 1px;
}
/* HOME PHOTO CAROUSEL */
.button-carousel {
  background-color: Transparent;
  font-size: 1.3rem;
  width: auto;
  color: var(--bg-color--accent);
  opacity: 0.5;
}
.button-carousel:hover {
  opacity: .75;
  background-color:  var(--bg-color--main);
}
/* PHOTO VIEW TOOLS: ZOOM, RESET */
.button-photo-view-tools {
  height: 35px;
  width: 35px;
  background-color: var(--bg-color--main);
}
/* HOME CALL TO ACTION BUTTON: VIEW GALLERY */
.button-home-call-to-action {
  width: 200px;
  height: 50px;
  margin: 1.5rem 0;
  /* background-color: var(--bg-color--accent); */
}
/* HEADER MENU & USER PROFILE TOGGLER BUTTON */
.button-header-menu {
  /* width: var(--header-height); */
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  color: var(--text-color--high-emphasis);
}