.button-default,
.button-image-create-update,
.button-view-image-close { 
  margin: 0 auto;
  border: none;
  cursor: pointer;
}
.button-default {
  width: 100%;
  height: 50px;
  background-color: rgba(110, 109, 109, 0.75);
}
.button-default:hover {
  background-color: rgb(165, 165, 165);
}
.button-image-create-update { 
  width: 100%;
  height: 75px;
  background-color: rgba(193, 39, 139, 0.75);
}
.button-image-create-update:hover {
  background-color: rgba(193, 39, 139, 1);
}
.button-image-control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  background-color: blueviolet;
  border: none;
}
.button-image-control-panel:hover {
  background-color: rgb(101, 23, 175);
}
.button-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 40%;
  background-color: rgb(146, 55, 226);
  border: none;
  margin: var(--margin-default) 0;
}
.button-view-image-close {
  width: 100%;
  height: 100%;
  background-color: rgb(136, 134, 134);
}