/* BUTTONS */
/* Default */
.button-default {
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  background-color: var(--color-accent);
  color: var(--text-color-light--high-emphasis);
  font-size: var(--text-size--S);
  font-weight: bold;
  letter-spacing: 1px;
}

/* Create - update photo entry */
/* create new photo entry button */
.button-photo-new {
  width: calc(100% - 2 * var(--margin-default));
  height: 50px;
  color: var(--text-color-light--high-emphasis);
  text-transform: uppercase;
  margin-bottom: var(--margin-default);
}

/* Control panel */
/* photo entries - admin */
.button-control-panel-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  border: none;
  background-color: Transparent;
  padding: 0;
  transition: opacity .2s ease-in;
  opacity: 1;
}
.button-control-panel-edit:hover {
  opacity: .70;
}
.button-control-panel-edit:disabled {
  opacity: .2;
}
/* photo entries - user */
.button-control-panel-view-user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: transparent;
  padding: 0;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.button-control-panel-view-user:hover {
  opacity: 0.7;
}

.button-control-panel-view {
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: var(--padding-default);
}
.button-control-panel-view:disabled {
  opacity: .3;
}
/* Submit */
/* submit form: create - update photo entry */
.button-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  width: 45%;
  border: none;
}
/* submit form: authentication  */
.button-authentication {
  width: auto;
  min-width: 60%;
  height: 50px;
  margin: 0;
  background-color: var(--color-accent);
  color: var(--txt-test);
  animation: fade-in .4s ease-in-out forwards;
  transition: background-color .5s ease, color .5s ease;
  padding: var(--padding-default);
}

/* Modal */
/* close (X) */
.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: opacity .2s ease-in;
  opacity: 1;
  padding: 0;
}
.button-close:hover,
.button-close:focus {
  opacity: .70;
}
.button-close:disabled {
  opacity: 0.38;
}
/* return (<-) */
.button-return-back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
 
/* Upload file */
/* browse file to add to file api */
.button-upload-file {
  width: 100px;
  height: 50px;
  letter-spacing: 1px;
}

/* Home photo carousel */
.button-carousel {
  background-color: transparent;
  font-size: 1.3rem;
  width: 30px;
  height: 50%;
  color: var(--color-accent);
  opacity: .5;
  margin: 0;
  padding: 0;
}
.button-carousel:hover,
.button-carousel:focus {
  opacity: 1;
  background-color: var(--bg-color--ternary-transparent-high);
}

/* Photo view tools: zoom, reset */
.button-photo-view-tools {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  background-color: transparent;
  transition: opacity .2s ease-in;
  opacity: 1;
}
.button-photo-view-tools:hover,
.button-photo-view-tools:focus {
  opacity: .70;
}

/* CTA */
/* CTA home */
.button-home-cta {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 1rem;
  background-color: var(--color-accent);
  color: var(--txt-test);
  animation: fade-in .4s ease-in-out forwards;
  transition: background-color .5s ease, color .5s ease;
}

/* CTA header auth */
.button-authentication-cta {
  width: 50px;
  height: 35px;
}

/* Header menu & user profile toggler */
.button-header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  color: var(--text-color--high-emphasis);
}

/* Photo info  */
.button-photo-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
}
.button-photo-info span {
  margin-left: 1rem;
}

/* Map content switch */
.button-map-content-switch {
  height: 40px;
  width: 100%;
}
.button-map-content-switch--active {
  background-color: var(--color-accent--dark);
  pointer-events: none;
}

/* Toggle text: preview/full */
.button-toggle-text {
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  height: 30px;
  margin: 0;
}

/* SHARED */
/* hover & focus */
.button-authentication:hover,
.button-authentication:focus,
.button-home-cta:hover,
.button-home-cta:focus,
.button-authentication-cta:hover,
.button-authentication-cta:focus,
.button-photo-new:hover,
.button-photo-new:focus,
.button-toggle-text:hover,
.button-toggle-text:focus,
.button-map-content-switch:hover,
.button-map-content-switch:focus,
.button-photo-info:hover,
.button-photo-info:focus,
.button-form-submit:hover,
.button-form-submit:focus,
.button-upload-file:hover,
.button-upload-file:focus {
  background-color: var(--color-accent--medium);
}
/* focus visible */
.button-authentication:focus-visible,
.button-home-cta:focus-visible,
.button-map-content-switch:focus-visible {
  outline: 2px solid var(--text-color-light--high-emphasis);
}
/* active */
.button-authentication:active,
.button-home-cta:active,
.button-authentication-cta:active,
.button-photo-new:active,
.button-toggle-text:active,
.button-map-content-switch:active,
.button-photo-info:active,
.button-form-submit:active,
.button-upload-file:active {
  background-color: var(--color-accent--dark);
}
/* disabled */
.button-authentication:disabled,
.button-authentication-cta:disabled,
.button-form-submit:disabled {
  background-color: var(--color-accent--disabled);
  color: var(--txt-test);
  opacity: 0.3;
  pointer-events: none;
}

/* ANIMATION */
/* animation: activates when button first appears */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: .5;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* _____MEDIA_____ */
/* PHONE: SMALL */
@media screen and (max-width: 350px) {
  .button-upload-file {
    max-width: 75%;
    min-height: 50px;
    height: auto;
  }
  .button-home-cta { 
    height: auto;
    min-height: 50px;
  }
  .button-photo-new {
    word-break: break-all;
    height: auto;
    min-height: 50px;
  }
}

/* PHONE - TABLET */
@media screen and (min-width: 480px) {
  /* Create - update photo entry */
  /* Create new photo entry button */
  .button-photo-new {
    width: var(--pe-container-width--M);
    margin: 0;
    margin-bottom: var(--margin-default);
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  /* Default */
  .button-default {
    font-size: 1rem;
  }

  /* Photo view tools: zoom, reset */
  .button-photo-view-tools {
    height: 45px;
    width: 45px;
    margin-right: 10px;
  }

  /* CTA header auth */
  .button-authentication-cta {
    width: 65px;
    height: 35px;
  }

  /* Submit */
  /* submit form: create - update photo entry */
  .button-form-submit {
    height: 50px;
    width: 150px;
  }
}

/* PHONE: LANDSCAPE*/
@media screen and (max-height: 550px) and (orientation: landscape) {
  /* Photo view tools: zoom, reset */
  .button-photo-view-tools {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
}