.date-picker-container {
  display: flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 40px;
  margin-bottom: 1.5rem;
}
.date-picker-container input {
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  /* text-align: center; */
  border: none;
  padding: var(--padding-default);
  background-color: transparent;
  border-bottom: 2px solid var(--bg-color--secondary);
  color: var(--text-color--high-emphasis);
  font-family: 'Roboto', sans-serif;
}
.date-picker-container input::placeholder {
  color: var(--text-color--medium-emphasis);
}
/* date picker calendar icon */
/* convert hexa color to filter value: https://codepen.io/sosuke/pen/Pjoqqp */
.date-picker-container input::-webkit-calendar-picker-indicator {
  filter: var(--color-picker--calendar-icon);
  height: 20px;
  width: 20px;
} 

