.date-picker-container {
  display: flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: var(--input-width);
  height: var(--input-height--authentication);
}
.date-picker-container input {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  /* text-align: center; */
  border: none;
  padding: var(--padding-default);
  background-color: transparent;
  border: 2px solid var(--bg-color--ternary);
  color: var(--text-color--high-emphasis);
  font-family: 'Roboto', sans-serif;
  outline: none;
}
.date-picker-container input:focus-within {
  border: 2px solid var(--color-accent);
}
/* date picker calendar icon */
/* convert hexa color to filter value: https://codepen.io/sosuke/pen/Pjoqqp */
.date-picker-container input::-webkit-calendar-picker-indicator {
  filter: var(--color-picker--calendar-icon);
  height: 20px;
  width: 20px;
} 