.form-default,
.form-image-create-update,
.form-form-container, 
.form-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.form-default,
.form-image-create-update {
  min-height: 100%;
  justify-content: space-between;
  overflow-y: auto;
  background-color: rgb(102, 102, 105);
  padding: var(--padding-default);
}
.form-form-container {

}
.form-button-container {
  flex-direction: row;
  justify-content: space-between;
}