.input-default,
.input-image-new-update,
.textarea-default,
.textarea-image-new-update {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(0, 69, 219);
  margin-top: var(--margin-default);
  border: none;
  padding: var(--padding-default);
}
.input-default,
.input-image-new-update {
  height: 40px;
}
.textarea-default,
.textarea-image-new-update {
  height: 250px;
  resize: none;
}