.image-upload-file-container,
.image-upload-file-input,
.image-upload-input-field,
.image-upload-message {
  display: flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.image-upload-file-container {
  min-height: 100px;
}
.image-upload-file-input {
  height: 100%;
  width: 50%;
}
.image-upload-input-field {
  background-color: rgb(102, 74, 73);
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin: var(--margin-default);
}
.image-upload-input-field input {
  display: none;
}
.image-upload-message {
  height: auto;
  margin: 0;
  word-break: break-word;
  padding: 0 var(--padding-default);
  margin: 0;
}