/* modal with navigation for small device view */
  /* disable menu bar */
.header-container-menu-bar {
  display: none;
}
.header-container-menu-modal,
.header-container-user-profile,
.header-modal-container,
.header-theme-toggler,
.header-navigation,
.header-navigation-item {
  display: flex;
  z-index: var(--z2);
}
.header-container-menu-modal {
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: var(--bg-color--secondary);
  border-bottom: 2px solid var(--bg-color--main);
  padding: 0 var(--padding-default) 0 var(--padding-default);
}
/* user profile container */
.header-container-user-profile {
  height: 100%;
  justify-content: center;
  align-items: center;
}
/* user profile name */
.header-container-user-profile-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  max-width: 100px;
}
.header-container-user-profile-name span {
  word-wrap: break-word;
  width: 100%;
  font-size: 0.8rem;
  line-height: 0.8rem;
}
/* menu modal && user profile modal */
.header-modal-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color--secondary);
  overflow-y: scroll;
}
/* theme toggle wrapper */
.header-theme-toggler {
  height: 75px;
  align-items: center;
  padding: var(--padding-default);
}
/* header modal navigation */
.header-modal-navigation {
  width: 100%;
  /* background-color: rgb(134, 134, 134); */
  height: auto;
  flex-direction: column;
}
/* SHARED /*
/* menu navigation item: menu modal: navLink; user profile modal: div */
.header-navigation-item {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-decoration: none;
}
/* menu navigation item text */
.header-navigation-item p {
  font-size: 1.5rem;
  color: var(--text-color--high-emphasis);
  padding: 0;
  margin: 0;
}
/* navigation item active for menu modal and menu bar items */
.header-navigation-item--active {
  background-color: var(--bg-color--main);
}

@media(min-width: 1024px) {
/* navigation bar for large screens devices */
.header-container-menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: var(--header-height);
    background-color: rgb(130, 130, 130);
  }
  /* disable menu modal */
  .header-container-menu-modal {
    display: none;
  }
  .header-bar-container,
  .header-bar-navigation,
  .header-bar-navigation a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  /* header bar - containing all the navigation items */
  .header-bar-container {
    flex-direction: row;
    width: 100%;
  }
  .header-bar-navigation {
    justify-content: initial;
    align-items: initial;
    width: auto;
  }
  .header-bar-navigation a {
    width: 150px;
    height: 100%;
    text-decoration: none;
  }
  .header-dummy,
  .header-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
  }
  /* backdrop -> click outside close modal*/
  .header-dropdown-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z2);
  }
  /* dropdown modal */
  .header-dropdown-container {
    position: absolute;
    top: var(--header-height);
    right: 0;
    width: 250px;
    max-height: 350px;
    overflow-y: auto;
    background-color: rgb(70, 70, 70);
    z-index: var(--z3);
  }
  .header-dropdown-navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
  }
}